body, html {
margin:0px;
padding:0px;
 background-image: url(note.png);
}
#all {
width:650px;
height: 300px;
margin:0 auto;
}

#register{
width:100%;

}

.table{
    margin-top: 100px;
}

#login{
width:100%;
}

.button{
    width: 160px;
    height: 28px;    
    text-align: center;
    border-radius:50px;
    background-color: peachpuff;
    border-color: blue;
}





.input{
     background-color: skyblue;
      width: 200px;
      height: 25px;
}


#header{
	border:2px solid;
    border-radius:25px;
    margin:10px;
    padding:0px;	
    height:120px;
    background-color:#80ef91;
}


#main{
	border:2px solid;
    border-radius:25px;
    margin:10px;
    padding:0px;	
    height:800px;
    background-color:#80ef95;
}

#notes{
    border:2px solid;
    border-radius:25px;
    margin:10px;
    padding:0px;	
    height:750px;
    width:25%;
    background-color:rgba(221, 65, 89, 0.76);
    float: right;
}

#calendar{
	border:2px solid;
    border-radius:25px;
    margin:10px;
    padding:0px;	
    height:900px;
    width: 70%;
    height:750px;
    background-color:rgba(240, 232, 27, 0.76);
    float: left;
}

#main{
	border:2px solid;
    border-radius:25px;
    margin:10px;
    padding:0px;	
    height:800px;
    background-color:#80ef95;
}







h2{
    color: #003986;
    text-align: center;
}
