body, html {
margin-top: 10px;
margin-left:80px;
padding:0px; 
}

tr{
background-color: aqua;
height:70px;
border: 1px;
text-align: center;
font-size: 20px;
}

#num{
font-size: 30px;    
}

#days{
font-size: 30px;
color: darkblue;
}

td{
    width:150px;    
}

#april{
background-color: hotpink;
}

#button{
    width: 160px;
    height: 28px;    
    text-align: center;
    border-radius:50px;
    background-color: peachpuff;
    border-color: blue;
}


